@tailwind base;
@tailwind components;
@tailwind utilities;

#topAlbums {
  background: linear-gradient(
    0deg,
    rgba(0, 147, 143, 1) 0%,
    rgba(0, 80, 101, 1) 47%,
    rgba(0, 39, 78, 1) 100%
  );
  .searchInput {
    box-shadow: 4px 6px 7px #212121;
  }
  .searchIcon {
    position: absolute;
    top: 5px;
    left: 8px;
    width: 30px;
    height: 30px;
    color: #b8b8b8;
  }
}
